body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #646464;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    text-align: center;
    margin-top: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}
.crossword {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.answer {
    background-color: #90EE90;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.crossword h2 {
    margin-top: 0;
}
.crossword p {
    margin: 10px 0;
}
footer {
    background-color: #646464;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}